<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p><b>Práticas Pedagógicas com o Canva</b> é uma iniciativa inovadora, em curso, destinada a educadores que desejam aprimorar suas 
          habilidades na criação de materiais didáticos visualmente atrativos e eficazes, utilizando a plataforma Canva. 
          </p>
      </div>
      <div class="col-lg-4">
        <p>Este curso foi desenvolvido para proporcionar aos professores as ferramentas e técnicas necessárias para transformar 
          o processo de ensino e aprendizagem, tornando-o mais envolvente e dinâmico. <br/> </p>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <br/><br/>
      <p>
        <b>Curso estimado em 10 horas.</b>
      </p>
      <a href="downloads/modulo-1-boas-vindas.pdf" class="btn btn-success btn-lg" download> 
        <i class="fa fa-plus"></i> Saiba mais</a> 
    </div>
  </div>
</section>
