<!-- Portfolio Grid Section -->
<section id="equipe" class="success">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Equipe</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
          <div class="text-center">
            <img src="img/equipe/ana-meire.png" class="img-responsive" >
            <h3>Ana Meire</h3>
          </div>
          </div>
        <div class="portfolio-flex-item portfolio-item">
          <div class="text-center">
            <img src="img/equipe/eduardo.png" class="img-responsive" >
            <h3>Eduardo</h3>
          </div>
        </div>
        <div class="portfolio-flex-item portfolio-item">
          <div class="text-center">
            <img src="img/equipe/francymary.png" class="img-responsive" >
            <h3>Francymary</h3>
          </div>
        </div>
        <div class="portfolio-flex-item portfolio-item">
          <div class="text-center">
            <img src="img/equipe/ivana.png" class="img-responsive" >
            <h3>Ivana</h3>
          </div>
        </div>
        <div class="portfolio-flex-item portfolio-item">  
          <div class="text-center">
            <img src="img/equipe/jackson-roberio.png" class="img-responsive" >
            <h3>Jackson Roberio</h3>
          </div>
        </div>
        <div class="portfolio-flex-item portfolio-item">  
          <div class="text-center">
            <img src="img/equipe/joseane.png" class="img-responsive" >
            <h3>Joseane</h3>
          </div>
          
      </div>
    </div>
  </div>
</section>
