<!-- About Section -->
<section id="metodologia" class="success" >
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br/>
        <h2>Metodologia</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Aulas Teóricas: Vídeos explicativos, leitura de tutoriais em PDF e apresentações. <br/>
          Discussões em Grupo: Fóruns e discussões para troca de ideias e experiências. <br />
          Autoavaliação: reflexão sobre suas dificuldades e conquistas.
        </p>
        <br/>
      </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <a href="#contact" class="btn btn-lg btn-outline">
        <i class="fa fa-pen"></i> Inscreva-se
      </a>
    </div>
  </div>
</section>
